{% extends "base.html"%}

{% block title%}blog title{% endblock%}

{% block content%}

<div class="row text-conter vertical-middle-sm">
    <h1>我的博客</h1>
</div>

<div class="row">


    <div class="col-xs-12 col-md-8">
        <ul>
            {%for blog in blogs%}
            <li>{{blog.title}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>更老七学：WWW。ITDIFFER。COM</p>
        <img width="200px" src="https://raw.githubusercontent.com/qiwsir/DjangoPracticeProject/master/python-book2.png">
    </div>
</div>


{% endblock%}